<!DOCTYPE html>
<html lang="en" xmlns:th="thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clothes List</title>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css" />
</head>
<body>
<main style="width: 50%; margin: 0 auto"> <!--header menu-->
    <div id="logo" class="pure-u-2-5"><img class="pure-img" th:src="@{img/logo-cw.jpg}" alt="Clothing for every weather"></div>
<div class="pure-menu pure-menu-horizontal">
    <a href="/" class="pure-menu-heading pure-menu-link">HOMEPAGE</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/clothes" class="pure-menu-link">Clothes</a>
        </li>
        <li class="pure-menu-item">
            <a href="/weather" class="pure-menu-link">Weather</a>
        </li>
    </ul>
</div>
    <form id="clothesForm" class="pure-form pure-form-aligned">
        <fieldset>
            <legend>Add new clothes</legend>
            <div class="pure-control-group">
                <label for="clothName">Name</label>
                <input id="clothName" placeholder="name">
            </div>
            <div class="pure-control-group">
                <label for="clothCategory">Category</label>
                <input id="clothCategory" placeholder="category">
            </div>
            <div class="pure-control-group">
                <label for="clothWaterproof">Waterproof</label>
                <input id="clothWaterproof" placeholder="waterproof">
            </div>
            <div class="pure-control-group">
                <label for="clothTemperature">Temperature</label>
                <input id="clothTemperature" placeholder="temperature">
            </div>
            <div class="pure-control-group">
                <label for="clothWind">Windproof</label>
                <input id="clothWind" placeholder="windproof">
            </div>
            <div class="pure-controls">
                <button id="addCloth" class="pure-button pure-button-primary">Save</button>
            </div>
        </fieldset>
    </form>
<!-- list of clothes-->
    <dl id="allClothes"></dl>
</main>
<script>
    (function () {
        const API_URL = 'http://localhost:8080/api';
        const CLOTHES_API_URL = `${API_URL}/clothes`;

        const SAVE_CLOTHES_URL = `${CLOTHES_API_URL}/save`;

        const clothName = document.getElementById('clothName');
        const clothCategory = document.getElementById('clothCategory');
        const clothWaterproof = document.getElementById('clothWaterproof');
        const clothTemperature = document.getElementById('clothTemperature');
        const clothWind = document.getElementById('clothWind');

        document.getElementById('addCloth').addEventListener('click', (event)=>{
            event.preventDefault();
            fetch(SAVE_CLOTHES_URL, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: clothName.value,
                    category: clothCategory.value,
                    waterproof: clothWaterproof.value,
                    temperature: clothTemperature.value,
                    wind: clothWind.value})
            })
                .then(processOkResponse)
                .then(showClothes)
                .then(()=> {
                    clothName.value = "";
                    clothCategory.value = "";
                    clothWaterproof.value = "";
                    clothTemperature.value = "";
                    clothWind.value = "";
                })
                .catch(console.warn)
                .then(()=> {
                    clothName.value = "";
                    clothCategory.value = "";
                    clothWaterproof.value = "";
                    clothTemperature.value = "";
                    clothWind.value = "";
                });
        })

        showClothes();

        function showClothes() {
            fetch(`${CLOTHES_API_URL}`)
                .then(response => response.json())
                .then((clothesArr) => {
                    const clothesList = clothesArr.map(c => `
                <dt>${c.name}</dt>
                <dd>Category: ${c.category}</dd>
                <dd>Waterproof: ${c.waterproof}</dd>
                <dd>Temperature: ${c.temperature}</dd>
                <dd>Wind: ${c.wind}</dd>

                `).join('\n');
                    document.getElementById('allClothes').innerHTML = clothesList;
                });
        }

        function processOkResponse(response = {}) {
            if (response.ok) {
                return response.json();
            }
            throw new Error(`Status not 200 (${response.status})`);
        }
    })();

</script>
</body>
</html>